.sidebar {
  background-color: #eaeae1;
  width: 20%;
  height: 100%;
  float: left;
}

.sidebar-item {
  background-color: #a6a6a6;
  color: black;
  font-size: 18px;
  height: 35px;
  list-style: none;
  text-align: center;
  margin: 10px 0px ;
  padding: 0px;
  border: 2px solid #a6a6a6;
  text-transform: uppercase;
  transition-duration: 0.4s;
}

.sidebar-item:hover{
  background-color: #404040;
  color: white;
  height: 35px;
  font-size: 22px;
  border: 2px solid #404040;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
