@font-face {
font-family: 'SukhumvitSet-Bold';
src:
local('SukhumvitSet'),
url(./fonts/SukhumvitSet-Bold.ttf) format('opentype');
}

@font-face {
font-family: 'SukhumvitSet-Light';
src:
local('SukhumvitSet'),
url(./fonts/SukhumvitSet-Light.ttf) format('opentype');
}

@font-face {
font-family: 'SukhumvitSet-Medium';
src:
local('SukhumvitSet'),
url(./fonts/SukhumvitSet-Medium.ttf) format('opentype');
}

@font-face {
font-family: 'SukhumvitSet-Text';
src:
local('SukhumvitSet'),
url(./fonts/SukhumvitSet-Text.ttf) format('opentype');
}

.App {
  background-color: #3D3D3D;
}

.AppBar {
  width: 100%;
}
.box {
  width: 92%;
  height: 637px;
  margin: 57px auto;
  background-color: #F3F0E2;
}

.navigationbar-list {
  width: 100%;
  display: table;
  margin: auto;
  padding: 0px;
  table-layout: fixed;
  float: left;
  margin-left: 4%;

 
}

.navigationbar-item {
  text-transform: uppercase;
  font-family: 'SukhumvitSet-Bold';
  list-style: none;
  color: #F3F0E2;
  height: 57px;
  width: 216px;
  text-align: center;
  background-color: #C84342;
  font-size: 20px;
  font-weight: bold;
  display: inline-flex;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-right: 3px;
}

.navigationbar-item a {
  color: #F3F0E2;
}

.navigationbar-item a:hover {
  color: #F3F0E2;
  list-style: none;
}

.navigationbar-item:focus-within {
  background: #F3F0E2;
 
}

.navigationbar-item a:focus-within {
  color: #C84342;
 
}


a {
  margin: auto;

}

.userpicture {
  margin-left: 90px;
  margin-top: 24px;

}

.Header {
  width: 100%;
  display: inline-flex;
  font-family: 'SukhumvitSet-Bold';

}

.userpicture img {
  border-radius: 50%;
}

.user {
  margin-left: 23px;
  margin-top: 30px;
  display: inline-flex;


}

.username {
  font-size: 36px;
  font-weight: bold;
  color: white;

}

.section {
  font-size: 18px;
  margin-top: 19px;
  color: white;
  padding-left: 60px;
  display:inline-flex;
}

.position {
  font-size: 18px;
  margin-top: 19px;
  color: white;
  padding-left: 80px;
  display:inline-flex;
}

.staffID {
  font-size: 18px;
  margin-top: 19px;
  color: white;
  padding-left: 80px;
  display:inline-flex;
}


p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.leavelistbox {
  margin: 0px auto;

}

.ft{
  margin-top: 20px;
  margin-left: 300px;

}

@media (max-width: 767px) { 
  .tableheader {
    color: red;
  }
}

.leave-form {
  min-width: 783px;
  min-height: 768px;
  padding-left: 85px;
    padding-top: 35px;
  max-height: 768px;
  max-width: 1024px;
}

.show-header{
 font-family: Tahoma;
 font-size: 20px;
 max-width: 251;
 max-height: 25px;
 text-align: left;
 padding-top: 11px;
 font-weight: bold;
}
.show-DayRequested{
  font-family: Tahoma;
  font-size: 16px;
  text-align: left;
  max-width: 127px;
  max-height: 20px;
}

.show-check-form {
  padding-top: 27px;
  display: inline-flex;
}

.checkform {
  padding-left: 29px;
}

.form-check-label {
  padding-left: 21px;
  padding-right: 53px;
}

.row-select-onedate{
 padding-top: 49px;
 display: -webkit-box;
}

.text-Date {
  font-size: 16px;
  font-family: Tahoma; 
}
.DateInput_input {
  font-weight: 200;
  font-size: 16px;
  line-height: 0px;
  color: #484848;
  background-color: #fff;
  width: 100%;
  padding: 11px 11px 9px;
  border: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 2px solid transparent;
  border-left: 0;
  border-radius: 0
}
.select-onedate{
  display: inline-flex;
}

.custom-input {
  width: 93px;
  height: 26px;
  text-align: center;
  margin-left: 80px;
  margin-left: 10px;
  background-color: #FFFFFF;
    border-radius: 3px;
}
.timeselect-oneday {
  display: inline-flex;
}

.text-time {
  font-size: 16px;
  font-family: Tahoma;
  margin-left: 24px;
}
.dropdown-oneday{

}
.DateInput {
  margin: 0;
  padding: 0;
  background: #fff;
  position: relative;
  display: inline-block;
  width: 93px;
  height: 29px;
  vertical-align: middle
}
.start-date{
  display: inline-flex;

}

.react-datepicker__input-container {
  margin-left: 67px;

}
.react-datepicker{
  margin-left: 55px;
}
.text-time2 {
  font-size: 16px;
  font-family: Tahoma;
  margin-left: 24px;
}
.option-time {
  height: 26px;
  margin-left: 15px;
  background-color: #FFFFFF
}
.dropdown-custom {
  margin-left: 13px;

}

.row-moreday-end{
  display: inline-flex;
  padding-top: 34px;
}
.react-datepicker-wrapper{
  margin-left: 7px;
}
.space {
  margin: 0 4px 10px;
}

.text-note {
  font-size: 16px;
  font-family: Tahoma;
}
.row-comment {
  padding-top: 41px;
  display: inline-flex;
  width: 100%;
}
.textarea {
  width: 480px;
  height: 106px;
  background-color: #FFFFFF;
}

.text-area {
  margin-left: 15px;
}

.row-file {
  padding-top: 20px;
  display: inline-flex;
}
.input-file {
  width: 88px;
  height: 24px;
  margin-left: 29px;
}
.text-file {
  font-size: 16px;
  font-family: Tahoma;
}

.row-button {
  text-align: center;
  padding-top: 35px;
  display: inline-flex;
}

.custom-button {
  width: 103px;
  height: 30px;
  border-radius: 15.5px;
  margin-left: 56px;
  background-color: #C84342;
  color: white;
  font-weight: bold;
}

.cover-button {
  text-align: center;
}

.date {
  font-size: 24px;
  margin-left: 15px;
}

.date-header {
  font-size: 24px;
  font-family: Tahoma;
}
.header1 {
  display: inline-flex;
}

.Table {
  padding: 20px;
  text-align: center;
  border-style: solid;
  border-color:#525252;
  background-color: #525252;
  width: 800px;
  height: 33px;
  border-width: 2px;
  color : white;
  margin-top: 20px;
  font-size : 16px;
  
}

.Data {
  padding: 20px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  width: 800px;
height: 33px;
font-size : 16px;
  

}

.Dataodd{
  border-color:#FFFFFF;
  background-color:#FFFFFF;
  font-size : 16px;
 
}

.Dataeven{
 
  border-color:#C4C4C4;
  background-color:#C4C4C4;
  font-size : 16px;

}

.Tables {
  
  
  padding: 20px;
  text-align: center;
  border-style: solid;
  border-color:#525252;
  background-color: #525252;
  width: 800px;
  height: 33px;
  border-width: 2px;
  color : white;
  margin-top: 20px;
  font-size : 16px;
  
}

.Datas {
  padding: 20px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  width: 800px;
  height: 33px;
  font-size : 16px;
  
}

.Dataodds{
  border-color:#FFFFFF;
  background-color:#FFFFFF;
  font-size : 16px;
 
}

.Dataevens{
 
  border-color:#C4C4C4;
  background-color:#C4C4C4;
  font-size : 16px;

}

.approve{
  color : #27AE60;
}

.pending{
  color : #F2C94C;
}

.reject{
  color : red;
}

.tk {
  margin-left : 580px;
  margin-top : 20px;
}

.selectLeave p {
  font-size: 20px;
  font-family: "SukhumvitSet-Bold";
  margin-left: 88px;

}


.ft{
  margin-top: 20px;
  margin-left : 500px;
}

.root {
  padding-right: 10px;
  padding-left: 50px;
}

.button-popup {
    width: 100%;
    margin-left: 139px;

}

.cover-popup {
    margin: 139px auto;
    margin-right: 85px;

}

.block {
  text-align: center;
  display: flex;
  margin-left: 139px;

   
}
.block {
  text-align: center;
  display: inline-flex;

}
.popup{
 
  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 15px;
  width: 176px;
  height: 176px;

}



.img-icon{
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.img-icon .sun {
  background: url(/images/sun.png) center center no-repeat;
}

.img-icon .human {
  
}

.img-icon .pig {
  
}

.picture img {
text-align: center;
margin-top: 12px;
width: 50px;
height: 50px;

}
.picture {
 text-align: center;  
}

.text-fill{
  /* 20 */
  padding-left: 20px;
  padding-bottom: 1px;
position: relative;
padding-top: 0 10px;
margin-top: 0px;
margin-bottom: 0px;
font-size: 40px;
color: #333333;

}
.text-under{
  /* 0 */
  padding-right: 5px;
  padding-top: 9px;
  margin-top: 0;
  margin-bottom: 0;
position: relative;
font-family: Tahoma;
font-size: 30px;
color: #333333;

}
.text-cover1 {
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}
.text-fill-small {
  margin-top: -25px;
  margin-left: 150px;
font-size: 16px;
color: #333333;
}

.text-bottom {
  text-align: right;
  position: relative;
  font-family: Tahoma;
  font-size: 26px;
  color: #333333;
  
  margin: 0;
  padding-left: 29px;
  padding-right: 40px;
}

.ft{
  margin-top: 20px;
  margin-left: 300px;
}

.tableheader {
  font-size: 30px;
  text-align: center;
  font-style: bold;
  margin-top: 80px;
  font-family: 'SukhumvitSet-Bold';

}

.tableheader h2 {
  font-family: 'SukhumvitSet-Bold';

}

.Table {
  
  
  padding: 20px;
  text-align: center;
  border-style: solid;
  border-color:#525252;
  background-color: #525252;
  width: 800px;
  height: 33px;
  border-width: 2px;
  color : white;
  margin-top: 20px;
  font-size : 16px;
  
}

.Data {
  padding: 20px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  width: 800px;
height: 33px;
font-size : 16px;
  

}

.Dataodd{
  border-color:#FFFFFF;
  background-color:#FFFFFF;
  font-size : 16px;
 
}

.Dataeven{
 
  border-color:#C4C4C4;
  background-color:#C4C4C4;
  font-size : 16px;

}

.Tables {
  
  
  padding: 20px;
  text-align: center;
  border-style: solid;
  border-color:#525252;
  background-color: #525252;
  width: 800px;
  height: 33px;
  border-width: 2px;
  color : white;
  margin-top: 20px;
  font-size : 16px;
  
}

.Datas {
  padding: 20px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  width: 800px;
height: 33px;
font-size : 16px;
  

}

.Dataodds{
  border-color:#FFFFFF;
  background-color:#FFFFFF;
  font-size : 16px;
 
}

.Dataevens{
 
  border-color:#C4C4C4;
  background-color:#C4C4C4;
  font-size : 16px;

}

.root {
  padding-right: 10px;
  padding-left: 50px;
}


.ft{
  margin-top: 20px;
  margin-left : 500px;
}


.approve{
  color : #27AE60;
}

.pending{
  color : #F2C94C;
}

.reject{
  color : red;
}

.tk {
  margin-left : 800px;
  margin-top : 20px;
}

.tableheader {
  font-size: 24px;
  float: left;
  margin-left: 88px;
  margin-top: 41px;
}

.gun {
margin-top : 50px;
margin-bottom: 20px;
margin-left: 20px;

}

.text-annualleave{
  text-align: center;
    padding-top: 23px;
    font-size: 16px;
    margin-right: 64px;
}

.text-sickleave{
  padding-top: 23px;
  font-size: 16px;
  text-align: center;
  margin-right: 57px;
}

.text-leavepay {
  text-align: center;
  padding-top: 23px;
  font-size: 16px;
  margin-right: 48px;
   
}


.ta{
  margin-bottom: 12px;
}

.text-limit{
  text-align: right;
  margin-top: 85px;
    margin-left: 5px;
}

.qqq {
  margin-left: 300px;
  margin-top: 50px;
}

.bird{
  font-size: 18px;

}

.br{
  margin-left: 750px;
  margin-top: 50px;
 
}

.row-moreday {
  padding-top: 39px;

}

.button {
  width: 176px;
  height: 35px;
  border-radius: 15px;
  background-color: #C84342;
  color: #F3F0E2;
  cursor: pointer;
}

.main-container {
  min-width: 1024px;
  min-height: 768px

}

.ooo{
  margin-right: 70px;

}

.rabbit{
  font-size: 14px;

}

.horse{
  font-size: 20px;
  margin-top: 50px;

}

.headtable{
  font-size: 16px;

}

.All{
  margin-left: 50px;
  font-family: 'Sukhumvit-Bold';

}

.All  p{
  margin-left: 50px;
  font-family: 'Sukhumvit-Bold';

}

.STable {
  text-align: center;
  border-style: solid;
  border-color:#C84342;
  background-color: #C84342;
  width: 763px;
  height: 33px;
  border-width: 2px;
  color : white;
  margin-top: 20px;
  text-align: center;

}

.tkboth {
  margin: auto;

}

.tkstatistic {
  margin: auto;
  padding: 0px;

}

.tkbubble {
  margin: auto;

}

.tkrow {

  display: flex;
  width: 100%;
  margin-top: 58px;
  justify-content: flex-end;
  margin-right: 23%;

}

.selectstaff p {
  margin-left: 85px;
  margin-top: 41px;
  font-family: 'SukhumvitSet-Bold';
  font-size: 20px;

}

.searchhistory p {
  margin-left: 85px;
  margin-top: 41px;
  font-family: 'SukhumvitSet-Bold';
  font-size: 20px;

}


.selectLeave p {
  margin-left: 85px;
  margin-top: 41px;
  font-family: 'SukhumvitSet-Bold';
  font-size: 20px;

}

.leave-form {
  margin: auto;
  margin-top: 23px;

}

.tktablestatic {
  margin: auto;

}


.SApprove{
  color : #27AE60;
  font-size: 14px;

}

.SPending{
  color : #F2C94C;
  font-size: 14px;

}

.SReject{
  color : red;
  font-size: 14px;
}

.bbr{
  margin-left: 820px;
  margin-top: 50px;
  border-radius: 12px;
 
}

.bbr input{
 
  border-radius: 12px;
 
}
.SData {
  padding: 20px;
  text-align: center;
  border-color:#D8D8D8;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  width: 763px;
  height: 80px;
  font-size : 16px;
}

.br{
  margin-left: 750px;
  margin-top: 50px;
  height: 80px;
  font-size : 16px;

}

.PTable {
  
  
  padding: 20px;
  text-align: center;
  border-style: solid;
  border-color:#525252;
  background-color: #525252;
  width: 1000px;
  height: 33px;
  border-width: 2px;
  color : white;
  margin-top: 20px;
  font-size : 16px;
  margin-left: 30px;
  
}

.PData {
  padding: 20px;
  text-align: center;
  border-color : #f2f2f2;
  border-style: solid;
  border-width: 1px;
  width: 1000px;
  height: 80px;
  font-size : 16px;
  margin-left: 30px;
}


.button {
  width: 176px;
  height: 35px;
  border-radius: 15px;
  background-color: #C84342;
  color: #F3F0E2;
  cursor: pointer;
  font-family: 'SukhumvitSet-Bold'
}

.shark{
    border-style: solid;
    border-color : #f2f2f2;
    margin-top: 20px;
    margin-bottom: 20px;
}


.shark{
    border-style: solid;
    border-color : #f2f2f2;
    margin-top: 20px;
    margin-bottom: 20px;
  }


.DDory{
  margin-top: 20px;
}

.textpopup {
  text-align: center;
  
}

.tk {
  margin-left : 1000px;
 margin-top: 50px;
 font-size: 16px;
}

.tk b{
  padding-left: 750px;
}

.select {
  padding-left: 800px;
}


.PPData {
  padding: 20px;
  text-align: center;
  border-color:#D8D8D8;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  width: 763px;
  height: 80px;
  font-size : 16px;

}

.bubble{
  padding: 20px;
  text-align: center;
  border-style: solid;
  border-color:#C84342;
  background-color: #C84342;
  width: 763px;
  height: 33px;
  border-width: 2px;
  color : white;
  margin-top: 4px;
  font-size : 16px;
  margin-left: 30px;


}


.tkpicture {
  width: 75px;
  height: 50px;
  

}

