.Table {
  
  
  padding: 20px;
  text-align: center;
  border-style: solid;
  border-color:#525252;
  background-color: #525252;
  width: 800px;
  height: 33px;
  border-width: 2px;
  color : white;
  margin-top: 20px;
  font-size : 16px;
  
}

.Data {
  padding: 20px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  width: 800px;
  height: 33px;
  font-size : 16px;
  

}

.Dataodd{
  border-color:#FFFFFF;
  background-color:#FFFFFF;
  font-size : 16px;
 
}

.Dataeven{
 
  border-color:#C4C4C4;
  background-color:#C4C4C4;
  font-size : 16px;

}

.dropdown {
  margin-left: 710px;
}

.root {
  padding-right: 10px;
  padding-left: 50px;
  margin-left: 260px;
  margin-top: 40px;
}

.header {
  background-color: rgba(64, 62, 62, 0.8);
  height: 50px;
  width: 100%;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.24);
}

.logonew {
  padding-top: 14px;
  margin : left;

}

.userpicture {
  padding-top: 47px;
  padding-left: 68px;
  padding-right: 68px;
  border-radius: 50%
}

.Name {
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
}

.userdata {
  text-align: center;
  font-size: 20px;
}

.sidebar {
  background-color: #F2F2F2;
  width: 241px;
  height: 100vh;
  float: left;
}

.sidebar-header{
  text-align: center;
  height: 30%;
}

.sidebar-list {
  padding: 0px;
}

.sidebar-item {
  background-color: #AEAEAE;
  color: black;
  font-size: 18px;
  height: 48px;
  text-align: center;
  margin: 10px 0px ;
  padding: 0px;
  border: 2px solid #AEAEAE;
  transition-duration: 0.4s;
  position: relative;
  list-style: none;
  vertical-align: middle;
}

.sidebar-item:hover{
  background-color: #3D3D3D;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid #404040;
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.24);
}

.ft{
  margin-top: 20px;
  margin-left: 300px;
}

.header {
  background-color: rgba(64, 62, 62, 0.8);
  height: 50px;
  width: 100%;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.24);
}

.logonew {
  padding-top: 14px;
  margin-left: 51px;

}

.userpicture {
  padding-top: 47px;
  padding-left: 68px;
  padding-right: 68px;
  border-radius: 50%
}

.Name {
  text-align: center;
  font-size: 30px;
}

.userdata {
  text-align: center;
  font-size: 20px;
}

.sidebar {
  background-color: #F2F2F2;
  width: 241px;
  height: 100vh;
  float: left;
}

.sidebar-header{
  text-align: center;
  height: 30%;
}

.sidebar-list {
  padding: 0px;
}

.sidebar-item {
  background-color: #AEAEAE;
  color: black;
  font-size: 18px;
  height: 48px;
  text-align: center;
  margin: 10px 0px ;
  padding: 0px;
  border: 2px solid #AEAEAE;
  transition-duration: 0.4s;
  position: relative;
  list-style: none;
  vertical-align: middle;
}

.sidebar-item:hover{
  background-color: #3D3D3D;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid #404040;
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.24);
}

.tableheader {
  font-size: 24px;
  margin-left: 304px;
  margin-top: 40px;
}

